// Normally mainpage styles

// header

.header
	background: #fff
	border-bottom: 1px solid #008bce
	height: 100px
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 100
	+r(550)
		height: 50px
	&__in
		position: relative
		height: 100px
		+vertical
		+r(1100)
			text-align: left
			+r(550)
				height: 50px
	.logo
		float: left
		margin-top: 30px
		margin-right: 20px
		+r(550)
			margin-top: 5px
	.callback
		float: right
		margin-top: 20px
		+r(550)
			margin-top: 0
	.nav
		text-align: center
		display: inline-block
		vertical-align: middle

.m-phone
	display: none
	position: absolute
	right: 0
	top: 0
	cursor: pointer
	padding: 13px
	+r(550)
		display: block
	+r(360)
		margin-right: -15px
		padding: 13px 7px
.callback
	text-align: right
	+r(550)
		visibility: hidden
		opacity: 0
		position: fixed
		background: #fff
		padding: 10px
		right: 9px
		top: 0
		z-index: 100
		box-shadow: 0 0 3px #000
		transform: scale(.96) translateY(-100%)
		transition: visibility .3s, opacity .3s, transform .3s

		.btn
			width: 100%
		&.is-open
			visibility: visible
			opacity: 1
			transform: scale(1) translateY(0)

	&__phone
		color: #020624
		+bold
		font-size: 30px
		letter-spacing: .03em
		display: block
		margin-bottom: 13px
		+r(767)
			font-size: 24px
		+r(500)
			font-size: 18px

.screen
	height: 100vh
	margin-top: -100px
	padding: 140px 0 30px
	min-height: 950px
	background-position: center center
	background-attachment: fixed
	background-size: cover
	+vertical
	color: #fff
	+rh(940)
		height: auto
		min-height: auto
	+r(550)
		padding-top: 90px
	&__in
		display: inline-block
		vertical-align: middle
		font-size: 14px
		@extend %in
		> .btn
			display: inline-block
			margin-bottom: 50px
	&__header
		margin-bottom: 35px
	&__title
		max-width: 800px
		margin: 0 auto
	&__about
		max-width: 725px
		margin: 0 auto
		border-top: 1px solid #8a8d91
		padding-top: 15px
		+bold

	&__col
		width: 50%
		float: left
		padding: 75px 25px
		font-size: 18px
		+r(500)
			font-size: 14px
		&:first-child
			padding-left: 85px
			+r(768)
				padding-left: 20px
		&:last-child
			padding-right: 85px
			+r(768)
				padding-right: 20px
		+r(768)
			width: 100%
			padding: 20px
	&__description
		text-align: left
		+clr
		background: rgba(#161c23, .6)
		margin-bottom: 50px

.section
	padding: 110px 0
	+r(1023)
		padding: 50px 0
	&_no-pad
		padding: 0
		+r(1023)
			padding: 0
	&__row
		+clr
		padding: 0 25px
		margin-bottom: -50px
		+r(767)
			padding: 0
	&__col
		float: left
		width: 33.333%
		padding: 0 25px
		margin-bottom: 50px
		&:last-child
			margin-bottom: 0
		+r(1023)
			width: 100%
		+r(767)
			padding: 0
		&_full
			width: 100%
	h1, .h1
		color: $primary
		text-align: center
		margin-bottom: 70px
		+r(1023)
			margin-bottom: 35px
	&__description
		text-align: center
		max-width: 960px
		font-size: 36px
		margin: 0 auto
		color: #656565
		margin-bottom: 40px
	&__slider
		max-width: 920px
		margin: 0 auto
	&__heading
		max-width: 1040px
		margin: 0 auto
		text-align: center
		font-size: 18px
		margin-bottom: 40px
		+r(500)
			font-size: 14px

.section-title
	height: 400px
	background-position: center top
	background-attachment: fixed
	background-size: cover
	+vertical
	+r(1024)
		height: 250px
	+r(767)
		height: 150px
	h1, .h1
		color: #fff
		display: inline-block
		vertical-align: middle
.item
	&__step
		text-align: center
		height: 260px
		+agency
		color: $primary
		background-image: url('../img/item.svg')
		background-repeat: no-repeat
		background-size: auto 100%
		background-position: center top
		position: relative
		margin-bottom: 55px
		+r(767)
			height: 180px
		&:after
			content: ''
			position: absolute
			bottom: -35px
			left: 50%
			margin-left: -37px
			width: 80px
			height: 5px
			background: radial-gradient(center, ellipse contain, #b4b3b3 0%,#fff 100%)
		span
			font-size: 98px
			line-height: 1
			display: inline-block
			margin-top: 65px
			+r(767)
				margin-top: 35px
				font-size: 80px
	.h3, h3
		color: $primary
		text-align: center
		margin-bottom: 20px
	p
		text-align: justify
		font-size: 18px
		line-height: 1.65
		+r(500)
			font-size: 14px

.marked-text
	padding: 35px 75px
	background: $primary
	color: #fff
	font-size: 18px
	line-height: 1.65
	text-align: justify
	+r(767)
		padding: 20px
	+r(500)
		font-size: 14px

.block
	margin-bottom: 50px
	&:last-child
		margin-bottom: 0
	h3, .h3
		a
			color: #3096a8
			+tr(color .3s)
			&:hover
				color: $primary
	p
		color: #312e31
		font-size: 18px
		+r(500)
			font-size: 14px
		> a
			+bold
			text-decoration: underline
			color: inherit
			&:hover
				text-decoration: none

.slider
	padding-bottom: 100px
	.slick-next,
	.slick-prev
		bottom: 0
		top: auto
		+tr(border .3s)
		&:before
			content: ''
	.slick-prev
		+arr(22, 24, #3096a8, l)
		left: 50%
		margin-left: -46px
		&:after
			content: ''
			position: absolute
			top: -15px
			right: -50px
			height: 30px
			width: 4px
			background: #312e31
		&:hover
			border-right-color: $accent
	.slick-next
		+arr(22, 24, #3096a8, r)
		right: 50%
		margin-right: -50px
		&:hover
			border-left-color: $accent

.box
	text-align: center
	font-size: 18px
	+r(500)
		font-size: 14px
	&__img
		border-radius: 50%
		border: 6px solid $primary
		height: 156px
		width: 156px
		overflow: hidden
		display: inline-block
		margin-bottom: 40px
		+vertical
		+r(767)
			width: 120px
			height: 120px
		span
			+agency
			font-size: 98px
			display: inline-block
			vertical-align: middle
			line-height: 1
			color: $primary
			+r(767)
				font-size: 80px
		img
			width: 100%
			height: auto
	&__heading
		color: $primary
		min-height: 110px
		margin-bottom: 30px
		font-size: 24px
		line-height: 1.1
		h4, .h4
			color: #312e31
		+r(1024)
			font-size: 18px
		+r(829)
			min-height: auto
		+r(500)
			font-size: 16px
.box-wrap
	text-align: center
	font-size: 0
	margin-bottom: -40px
	.box
		width: 400px
		max-width: 100%
		padding: 0 50px
		display: inline-block
		vertical-align: top
		margin-bottom: 40px
		+r(839)
			width: 100%

.contacts
	max-width: 1115px
	margin: 0 auto
	+clr
	&__col1
		width: percentage( 444px / 1115px )
		float: left
		margin-bottom: 20px
		+r(767)
			width: 100%
	&__col2
		width: percentage( 671px / 1115px )
		float: right
		padding-left: 15px
		+r(767)
			width: 100%
			padding-left: 0

.info
	&__address
		+bold
		font-size: 18px
		color: #312e31
		margin-bottom: 35px
		+r(500)
			font-size: 14px
	&__tel
		margin-bottom: 40px
		a
			+bold
			color: $primary
			font-size: 36px
	img
		max-width: 100%

.form
	text-align: left
	.field
		margin-bottom: 8px
	.form-error
		padding-top: 5px
	.input-text
		display: block
		width: 100%
	&__header
		color: $accent
		margin-bottom: 43px
		line-height: 1
		&_mod
			color: $primary
	&__submit
		text-align: right
		margin: 20px 0 0
		.btn_red
			&:hover
				background: #5f5f5f
	textarea
		resize: none

.input-text
	font-size: 18px
	padding: 10px 15px 9px
	color: #312e31
	border: 0
	background: #f5f5f5
	+r(500)
		font-size: 14px
	+placeholder
		+helv
		color: #a0a0a0

#map
	width: 100%
	height: 400px
	+r(767)
		max-height: 50vh
	+r(550)
		height: 300px






